@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght @ 0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face 
{ 
    font-family: 'FluentIcons-Filled'; 
    src: url('fonts/FluentSystemIcons-Filled.ttf') format('truetype'); 
}

@font-face 
{ 
    font-family: 'FluentIcons-Regular'; 
    src: url('fonts/FluentSystemIcons-Regular.ttf') format('truetype'); 
}

@font-face
{ 
    font-family: 'SegoeVariable'; 
    src: url('fonts/main-font.ttf') format('truetype'); 
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'SegoeVariable', sans-serif;
}

header{
    position: fixed;
    height: 72px;
    width: 100%;
    backdrop-filter: blur(30%);
}

