@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght @ 0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face 
{ 
    font-family: 'FluentIcons-Filled'; 
    src: url('fonts/FluentSystemIcons-Filled.ttf') format('truetype'); 
}

@font-face 
{ 
    font-family: 'FluentIcons-Regular'; 
    src: url('fonts/FluentSystemIcons-Regular.ttf') format('truetype'); 
}

@font-face
{ 
    font-family: 'SegoeVariable'; 
    src: url('fonts/main-font.ttf') format('truetype'); 
}

@media (prefers-color-scheme: light) {
    body{
        background-color: rgb(240, 240, 240);
        color: rgb(32, 32, 32);
    }

    .vertical-sep{
        height: 26px;
        border-right: 1px rgb(42, 42, 42);
    }

    header{
        background-color: rgba(250, 250, 250, 42%);
    }

    .fluent-hyperlink{
        color: rgb(131, 131, 131);
    }

    .fluent-hyperlink:hover{
        background-color: rgba(24, 24, 24, 10%);
    }
    
    .fluent-hyperlink:focus{
        background-color: rgba(24, 24, 24, 10%);
    }
    
    .fluent-hyperlink:active{
        background-color: rgba(24, 24, 24, 10%);
    }

    button{
        color: rgb(32, 32, 32);
    }

    #page-title{
        background-color: rgb(220, 220, 220);
    }

    .placeholder-text{
        color: rgb(56, 56, 56);
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: rgb(28, 28, 28);
        color: rgb(240, 240, 240);
    }

    .vertical-sep{
        height: 26px;
        border-right: 1px;
        border-color: rgb(140, 140, 140);
    }

    header{
        background-color: rgba(25, 25, 25, 42%);
    }

    .fluent-hyperlink{
        color: rgb(220, 220, 220);
    }

    .fluent-hyperlink:hover{
        background-color: rgba(255, 255, 255, 8%);
    }
    
    .fluent-hyperlink:focus{
        background-color: rgba(255, 255, 255, 8%);
    }
    
    .fluent-hyperlink:active{
        background-color: rgba(255, 255, 255, 8%);
    }

    button{
        color: rgb(240, 240, 240);
    }

    #page-title{
        background-color: rgb(38, 38, 38);
    }

    .placeholder-text{
        color: rgb(131, 131, 131);
    }
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'SegoeVariable', sans-serif;
}

header{
    position: fixed;
    height: 74px;
    width: 100%;
    backdrop-filter: blur(80px);
    z-index: 1111111111;
}

h2{
    font-weight: lighter;
}

#branding-div{
    position: absolute;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
    left: 20px;
    position: fixed;
    margin-top: 2px;
}

#branding-title{
    margin-left: 12px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 22px;
}

#branding-logo{
    position: relative;
}

.vertical-sep{
    height: 24px;
    border-right: 1px;
}

#get-product-command{
    height: 36px;
    position: relative;
    float: right;
    top: 19px;
    right: 19px;
}

#page-tag{
    left: 12px;
    top: 2px;
}

.fluent-icon{
    font-size: 20px;
    font-family: 'FluentIcons-Filled', sans-serif;
}

#navigation-bar{
    position: relative;
    display: inline-flex;
    float: right;
    top: 20px;
    right: 32px;
}

.fluent-hyperlink{
    align-items: center;
    vertical-align: middle;
    text-align: center;
    display: inherit;
    font-weight: lighter;
    padding: 4px 9px 2px 8px;
    border-radius: 6px;
}

.hyperlink-icon{
    position: relative;
    font-size: 20px;
    padding: 0px;
}

.hyperlink-label{
    position: relative;
    font-size: 14px;
    left: 7px;
    margin-right: 4px;
    bottom: 1px;
    padding: 0px;
    padding-inline: 0px;
    line-height: 0px;
}

.stack-layout{
    display: inherit;
}

#mobile-menu-button{
    visibility: hidden;
    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;
    position: fixed;
    top: 25px;
    left: 18px;
}

#page-title{
    height: 120px;
    padding-top: 120px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 33px;
    border-radius: 0px 0px 6px 6px;
}

#title-ui{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

#page-title-box{
    position: relative;
    left: 20px;
    font-size: 36px;
    line-height: 0px;
}

#page-content{
    width: 100%;
}

#privacy-policy-doc{
    font-weight: lighter;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
}

.date-box{
    display: inline-flex;
    align-items: center;
    margin-top: 12px;
    margin-left: 5px;
}

.placeholder-text{
    padding-inline: 0px;
    line-height: 0px;
}