@media(prefers-color-scheme: light){
    #aurora-animation{
        opacity: 100%;
    }

    .fill-circle{
        fill:#101010 !important;
        transition: all 300ms;
    }
    
    .top-part, .bottom-part{
        stroke:#101010 !important;
        stroke-miterlimit:10;
    }
}

@media(prefers-color-scheme: dark){
    #aurora-animation{
        opacity: 42%;
    }

    .fill-circle{
        fill:#fff;
        transition: all 300ms;
    }

    .top-part, .bottom-part{
        stroke:#fff;
        stroke-miterlimit:10;
    }
}

#hero-container-text{
    animation: navigation-transition 1.8s ease-in-out;
}

#aurora-animation{
    height: 630px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow: hidden;
}

.up{
    position: absolute;
    border-radius: 50%;
    height: 666px;
    width: 666px;
    right: 100px;
    animation: up-anim 15s infinite;
    background-image: linear-gradient(280deg, #5EFF92, #4ECDFF);
}

.down{
    position: absolute;
    border-radius: 50%;
    right: 0px;
    height: 360px;
    animation: down-anim 15s infinite;
    width: 360px;
    background-image: linear-gradient(280deg, #83f0a6, #80cbe9);
}

.left{
    position: absolute;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    height: 260px;
    width: 260px;
    animation: left-anim 15s infinite;
    background-image: linear-gradient(280deg, #73FF5F, #16E6CE);
}

.card-gradient{
    padding: 42px;
    border-radius: 18px;
    position: relative;
    top: -150px;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(180px);
    z-index: 11;
}

.ellipse {
    position: relative;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(circle, #00b4db, #0083b0);
  }

@keyframes up-anim {
    0%, 100%{
        bottom: -100px;
    }

    70%{
        bottom: 242px;
    }
}

@keyframes down-anim {
    0%, 100%{
        right: -100px;
    }

    70%{
        right: 220px;
    }
}

@keyframes left-anim {
    0%, 100%{
        left: -100px;
        top: -50px;
    }

    70%{
        left: 180px;
        top: 0px;
    }
}

@keyframes navigation-transition {
    0%{
        opacity: 0%;
        transform: translateY(-42px);
        transform: scale(0.7);
    }

    100%{
        opacity: 100%;
        transform: translateY(0px);
        transform: scale(1);
    }
}

@keyframes menu-sidebar-hide {
    0%{
        transform: translateX(0);
        opacity: 100%;
    }
    
    100%{
        transform: translateX(-26);
        opacity: 0%;
        visibility: collapse;
    }
}

@keyframes menu-sidebar-show {
    0%{
        transform: translateX(-26);
        opacity: 0%;
        visibility: collapse;
    }
    
    100%{
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes premium-card-transition {
    0%{
        transform: translateY(-42px);
        opacity: 0%;
    }

    100%{
        transform: translateY(0);
        opacity: 100%;
    }
}

.show-menu-sidebar{
    animation: menu-sidebar-show 1.2s ease-out;
    animation-play-state: running;
}

.hide-menu-sidebar{
    animation: menu-sidebar-hide 1.2s ease-out;
    animation-play-state: running;
}

.reveal{
    position: relative;
    opacity: 0;
    transform: translateY(-60px);
    transition: 1s all ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0px);
}

svg.lock {
	width: 66px;
	-webkit-tap-highlight-color: transparent;
	transform-origin: center top;
	cursor: pointer;
	padding: 1rem;
}

.fill-mask, .top-part, .bottom-part{
	fill:none;
}

.fill-mask-group{
	clip-path:url(#clip-path);
}
.fill-circle{
	fill:#fff;
	transition: all 300ms;
}
.top-part, .bottom-part{
	stroke:#fff;
	stroke-miterlimit:10;
}
.top-part{
	stroke-linecap:round;
	stroke-width:15.39px;
	transition: all 300ms;
	transition-delay: 200ms;
}
.bottom-part{
	stroke-width:15px;
}

.lock.closed .fill-circle {
	transition-delay: 270ms;
	r: 180;
}
.lock.closed .top-part {
	transition-delay: 150ms;
	d: path("M41.5,93.69V56.93A49.24,49.24,0,0,1,90.73,7.69h2.54A49.24,49.24,0,0,1,142.5,56.93v33");
}

@-webkit-keyframes LinearShake {
	0%   { transform: translateY(0px); }
	70%  { transform: translateY(-20px); }
	100% { transform: translateY(0px); }
}
@-webkit-keyframes AngularShake {
	0%   { transform: rotate(0deg); }
	20%  { transform: rotate(8deg); }
	70%  { transform: rotate(-3deg); }
	100% { transform: rotate(0deg); }
}