@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'SegoeVariable', sans-serif;
}

@font-face 
{ 
    font-family: 'FluentIcons-Filled'; 
    src: url('../fonts/FluentSystemIcons-Filled.ttf') format('truetype'); 
}

@font-face 
{ 
    font-family: 'FluentIcons-Regular'; 
    src: url('../fonts/FluentSystemIcons-Regular.ttf') format('truetype'); 
}

@font-face
{ 
    font-family: 'SegoeVariable'; 
    src: url('../fonts/main-font.ttf') format('truetype'); 
}

@media(prefers-color-scheme: light){
    :root{
        --foreground-color: rgb(30, 30, 30);
        --chrome-color: #e7e7e7;
    }

    body{
        background-color: rgb(240, 240, 240);
        color: rgb(32, 32, 32);

        --sb-track-color: #f5f5f5;
        --sb-thumb-color: #d6d6d6;
        --sb-size: 10px;
      
        scrollbar-color: var(--sb-thumb-color) 
                         var(--sb-track-color);
    }
      
    body::-webkit-scrollbar {
        width: var(--sb-size);
    }
      
    body::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 10px;
    }
      
    body::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
    }
    
    #personalization-view-box-context{
        background: rgba(255, 255, 255, 0.6);
    }

    #addons-view-box{
        background: rgba(255, 255, 255, 0.9);
    }

    #ai-features-box{
        background-image: url('../assets/assistant-asset-light.png');
        background-color: rgba(255, 255, 255, 0.6);
    }

    .box-view-gradient{
        background: rgba(255,255,255,0.6);
        background: linear-gradient(0deg, #f7f7f7 50%, rgba(255,255,255,0) 100%);
    }

    fluent-divider{
        border-top: calc(var(--stroke-width) * 1px) solid rgba(0, 0, 0, 6%);
    }

    .acrylic-effect{
        background-color: rgba(255, 255, 255, 60%);
    }

    .placeholder{
        color: rgb(42, 42, 42);
    }

    .subtitle{
        color: hsla(0, 0%, 0%, 60.63%);
    }

    .vertical-sep{
        height: 26px;
        border-right: 1px rgb(42, 42, 42);
    }

    .fluent-hyperlink:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }

    .fluent-hyperlink:active{
        background-color: #00000006;
    }

    .fluent-hyperlink{
        color: #5f5f5f;
    }

    .flex-card{
        background-color: rgb(250, 250, 250);
        border: 0.8px solid rgba(0, 0, 0, 0.11);
    }

    .flex-card:hover{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;
    }

    .fluent-hyperlink-selected{
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        background: transparent;
        border: none;
        color: #005FB8;
        background-color: #00000006;
    }

    .fluent-hyperlink-control{
        color: #084daf;
    }

    .icon-button{
        color: #5f5f5f;
    }

    .icon-button:hover{
        background-color: #FFFFFFB2;
        border: 0.8px solid rgba(0, 0, 0, 0.05);
    }

    .icon-button:active{
        background-color: #F9F9F980;
        border: 0.8px solid rgba(0, 0, 0, 0.07);
    }

    #hero-container-content{
        background-color: rgba(255, 255, 255, 32%);
        backdrop-filter: blur(110px);
    }

    h1{
        color: rgb(46, 46, 46);
    }

    .fluent-badge{
        background-color: rgba(250, 250, 250, 0.6);
        color: rgb(45, 45, 45);
        backdrop-filter: blur(60px);
    }

    #hero-description{
        color: rgb(50, 50, 50);
    }

    .app-screenshot-base{
        background-image: url(../assets/app-main-view-light.png);
    }

    .app-screenshot-explore{
        background-image: url(../assets/explore-light-screen.png);
    }

    .app-screenshot-assistant{
        background-image: url(../assets/assistant-light-screen.png);
    }

    .app-screenshot-search{
        background-image: url(../assets/search-light-screen.png);
    }

    .fluent-card{
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, 0.06);
    }

    #addons-image-view{
        background-image: url('../assets/extensions-icons.png');
    }

    #mobile-menu-sidebar{
        background-color: rgba(255, 255, 255, 0.6);
    }

    .section-separator{
        border: 0.2px solid rgba(220, 220, 220, 26%);
    }

    fluent-option{
        color: rgb(30, 30, 30);
    }

    .app-logo{
        background-color: rgb(250, 250, 250);
        border: 0.6px solid rgba(30, 30, 30, 20%);
    }

    #progress-view-ui{
        background-color: rgba(255, 255, 255, 42%);
    }

    footer{
        border: 0.1px solid rgba(42, 42, 42, 12%);
        background-color: rgb(230, 230, 230);
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .bgr0_scr{
        background-image: url('../assets/bgr0_scr_light.png');
    }

    .bgr1_scr{
        background-image: url('../assets/bgr1_scr_light.png');
    }

    .bgr2_scr{
        background-image: url('../assets/bgr2_scr_light.png');
    }

    .bgr3_scr{
        background-image: url('../assets/bgr3_scr_light.png');
    }

    .bgr4_scr{
        background-image: url('../assets/bgr4_scr_light.png');
    }

    #privacy-view-box{
        background-color: rgb(255, 255, 255);
    }
}

@media(prefers-color-scheme: dark){
    :root{
        --foreground-color: rgb(245, 245, 245);
        --chrome-color: #323232;
    }
    
    body{
        background-color: rgb(28, 28, 28);
        color: rgb(240, 240, 240);
        --sb-track-color: #202020;
        --sb-thumb-color: #989898;
        --sb-size: 10px;
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  
    body::-webkit-scrollbar {
        width: var(--sb-size) 
    }
    
    body::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 10px;
    }
    
    body::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
    }

    #ai-features-box{
        background-image: url('../assets/assistant-asset-dark.png');
        background-color: #1f1f1f;
    }

    .box-view-gradient{
        background: rgb(31,31,31);
        background: linear-gradient(0deg, rgba(31,31,31,1) 50%, rgba(255,255,255,0) 100%);
    }

    fluent-divider{
        border-top: calc(var(--stroke-width) * 1px) solid rgba(255, 255, 255, 6%);
    }

    #personalization-view-box-context{
        background: rgba(0, 0, 0, 0.8);
    }

    #addons-view-box{
        background: rgba(40, 40, 40);
    }

    #addons-search-box{
        background: rgba(56, 56, 56, 0.9);
    }
    
    .flex-card{
        background-color: rgb(32, 32, 32);
        border: 0.8px solid rgba(200, 200, 200, 0.05);
    }

    .flex-card:hover{
        box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px -1px;
    }

    .acrylic-effect{
        background-color: rgba(0, 0, 0, 50%);
    }

    .placeholder{
        color: rgb(190, 190, 190);
    }

    .subtitle{
        color: rgb(190, 190, 190);
    }

    .app-screenshot-base{
        background-image: url(../assets/app-main-view-dark.png);
    }

    .app-screenshot-explore{
        background-image: url(../assets/explore-dark-screen.png);
    }

    .app-screenshot-assistant{
        background-image: url(../assets/assistant-dark-screen.png);
    }

    .app-screenshot-search{
        background-image: url(../assets/search-dark-screen.png);
    }

    .vertical-sep{
        height: 26px;
        border-right: 1px;
        border-color: rgb(130, 130, 130);
    }

    .fluent-hyperlink:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }

    .fluent-hyperlink:active{
        background-color: #FFFFFF0B;
    }

    .fluent-hyperlink{
        color: #d2d2d2;
    }

    .fluent-hyperlink-selected{
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        background: transparent;
        border: none;
        color: #60CDFF;
        background-color: #FFFFFF0B;
    }

    .fluent-hyperlink-control{
        color: #99EBFF;
    }

    .icon-button{
        color: #d2d2d2;
    }

    .icon-button:hover{
        background-color: #FFFFFF0F;
        border: 0.8px solid rgba(255, 255, 255, 0.06);
    }

    .icon-button:active{
        background-color: #FFFFFF08;
        border: 0.8px solid rgba(255, 255, 255, 0.08);
    }

    #hero-container-content{
        background-color: rgba(0, 0, 0, 16%);
        backdrop-filter: blur(90px);
    }

    h1{
        color: rgb(240, 240, 240);
    }

    .fluent-badge{
        background-color: rgba(6, 6, 6, 0.6);
        color: rgb(226, 226, 226);
        backdrop-filter: blur(260px);

    }

    #hero-description{
        color: rgb(180, 180, 180);
    }

    .fluent-card{
        background-color: rgba(40, 40, 40, 1);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    #addons-image-view{
        background-image: url('../assets/extensions-icons-dark.png');
    }

    .section-separator{
        border: 0.2px solid rgba(100, 100, 100, 26%);
    }

    #mobile-menu-sidebar{
        background-color: rgba(30, 30, 30, 0.6);
        border: 0.6px solid rgba(255, 255, 255, 0.1);
    }

    fluent-option{
        color: rgb(240, 240, 240);
    }

    .app-logo{
        background-color: rgb(42, 42, 42);
        border: 0.6px solid rgba(255, 255, 255, 12%);
    }

    #progress-view-ui{
        background-color: rgba(0, 0, 0, 50%);
    }

    footer{
        border: 0.1px solid rgba(250, 250, 250, 5%);
        border-left: none;
        border-right: none;
        border-bottom: none;
        background-color: rgb(32, 32, 32);
    }

    .bgr0_scr{
        background-image: url('../assets/bgr0_scr_dark.png');
    }

    .bgr1_scr{
        background-image: url('../assets/bgr1_scr_dark.png');
    }

    .bgr2_scr{
        background-image: url('../assets/bgr2_scr_dark.png');
    }

    .bgr3_scr{
        background-image: url('../assets/bgr3_scr_dark.png');
    }

    .bgr4_scr{
        background-image: url('../assets/bgr4_scr_dark.png');
    }

    #privacy-view-box{
        background-color: rgb(20, 20, 20);
    }
}

header{
    position: fixed;
    height: 76px;
    width: 100%;
    z-index: 1111111111;
}

h1{
    font-family: 'SegoeVariable', sans-serif;
}

h2{
    font-size: 32px;
}

#branding-div{
    position: absolute;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
    left: 20px;
    position: fixed;
    margin-top: 2px;
    background: transparent;
}

#branding-title{
    margin-left: 12px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 22px;
}

#navigation-menu{
    position: fixed;
    top: 20px;
    left: 156px;
    display: inline-flex;
}

.flex-card{
    padding: 30px;
    flex-basis: 350px;
    border-radius: 8px;
    flex-grow: 4;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px;
}

.fluent-hyperlink{
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    background: transparent;
    border: none;
}

.text-label{
    line-height: 5px;
    position: relative;
    padding-left: 6px;
}

.self-icon{
    font-size: 20px;
    position: relative;
    display: inherit;
}

#frame{
    position: fixed;
    width: 100%;
    height: 100%;
    border: none;
}

#get-product-command{
    height: 38px;
    width: 114px;
    float: right;
}

.icon-button{
    border-radius: 4px;
    background: transparent;
    border: 0.8px solid transparent;
    padding: 5px 7px 5px 7px;
    display: inline-flex;
    align-items: center;
}

#feedback-command{
    height: 36px;
    width: 36px;
    float: right;
}

#support-ukraine{
    height: 36px;
    width: 36px;
    float: right;
}

#ua-flag{
    border-radius: 3px;
}

#header-actions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    top: 20px;
    right: 34px;
    gap: 10px;
    vertical-align: middle;
    align-items: flex-end;
}

#hero-container{
    width: 100%;
    padding-bottom: 260px;
    margin-top: 0;
}

#hero-container-content{
    display: flex;
    width: 100%;
    text-align: center;
}

#hero-container-text{
    width: 100%;
    text-align: center;
    position: relative;
    top: 256px;
}

.highlighted-text{
    color: linear-gradient(90deg, rgba(0,112,196,1), rgba(60,226,89,1));
}

.label{
    padding: 6px;
    font-weight: 600;
    text-wrap: nowrap;
}

.fluent-badge{
    border-radius: 48px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 6px;
}

.badge-icon{
    position: relative;
    top: 2px;
}

#hero-description{
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1000px;
    display: inline-block;
    font-weight: medium;
    position: relative;
    font-size: 18px;
    top: 26px;
}

#hero-actions{
    display: table;
    position: relative;
    top: 66px;
    width: 100%;
    text-align: center;
    transform: scale(1.1);
}

#hero-get-product{
    height: 40px;
}

.app-screenshot{
    position: relative;
    top: 90px;
    width: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 100px;
    object-fit: scale-down;
    border: 16px solid #101010;
    margin: 0 auto;
    display: grid;
}

#app-screen-img{
    padding: 0;
    width: 100%;
    height: 100%;
}

#mobile-menu-button{
    position: fixed;
    top: 18px;
    left: 12px;
    height: 38px;
    width: 38px;
    z-index: 111111111111;
    visibility: collapse;
}

#features{
    padding-left: 56px;
    padding-right: 56px;
    position: relative;
    text-align: center;
}

#features-box{
    top: 26px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 36px;
}

.fluent-card{
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 330px;
    border-radius: 9px;
    padding: 24px;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.11);
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.11);
}

.fluent-card:hover{
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.5);
}

.card-icon{
    font-size: 52px;
    background: -webkit-linear-gradient(#0676c1, #01e496);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table-grid{
    display: inline-flex;
    text-align: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.fluent-badge-accent{
    border-radius: 48px;
    padding: 6px;
    font-weight: 600;
    font-size: 12px;
    background-color: #4fc0fc;
    color: rgb(32, 32, 32);
}

em{
    font-style: normal;
    background: -webkit-linear-gradient(60deg,#0070c4, #3ce259);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-section{
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    flex-wrap: wrap;
}

#addons-section{
    padding-top: 30px;
    padding-bottom: 60px;
}

.section-column{
    flex-grow: 1;
    flex-basis: 420px;
    min-height: 320px;
}

.section-title{
    font-size: 32px;
    position: relative;
    top: 10px;
}

.section-description{
    position: relative;
}

.section-button{
    position: relative;
    top: 10px;
}

#addons-image-view{
    height: 120%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    bottom: 8px;
}

.center-div{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

#indev-ui{
    max-width: 520px;
}

.section-separator{
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 4px;
}

#mobile-menu-sidebar{
    position: fixed;
    left: 0px;
    height: 100%;
    width: 342px;
    margin-top: 73px;
    top: 0px;
    z-index: 111111111111;
    border-radius: 0px 8px 8px 0px;
    backdrop-filter: blur(42px);
}

#sidebar-shell-backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    visibility: collapse;
}

#menu-backdrop{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
}

#mobile-search-bar{
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 20px;
    top: 0px;
}

#mobile-sidebar-menu{
    margin-left: 20px;
    margin-right: 22px;
    display: block;
    position: relative;
    top: -10px;
}

#menu-items{
    width: 100%;
    border: none;
}

fluent-option{
    height: 42px;
    background: transparent;
}

#menu-items:focus{
    border: none;
}

#menu-items:active{
    border: none;
}

#menu-items:hover{
    border: none;
}

.field-icon{
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    z-index: 1111111111;
}

.centerized-section{
    text-align: center;
    display: block;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#ai-features{
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
}

#ai-features-description{
    position: relative;
}

#what-can-ai{
    display: flex;
    flex-grow: 1;
    flex-basis: 130px;
    flex-wrap: wrap;
    gap: 36px;
    position: relative;
    top: 76px;
}

#open-assistant-action{
    position: relative;
    top: 12px;
}

#ai-integrated{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.flat-card{
    background: transparent;
    border: none;
    box-shadow: none;
    display: inline-block;
}

.flat-card:hover{
    background: transparent;
    border: none;
    box-shadow: none;
}

.app-logo{
    border-radius: 12px;
    padding: 20px;
    min-height: 40px;
    min-width: 40px;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    position: relative;
    align-items: center;
    background-repeat: no-repeat;
}

#ai-integrated{
    position: relative;
    margin-top: 12px;
}

.fluent-hyperlink-control{
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.fluent-hyperlink-control:hover{
    background-color: rgba(230, 230, 230, 0.1);
}

.fluent-hyperlink-control:active{
    background-color: rgba(230, 230, 230, 0.3);
}

.premium-card{
    padding: 32px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 16px;
    display: inline-block;
    max-width: 720px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 36px;
    color: rgb(42, 42, 42);
    background: linear-gradient(210deg, #ABFFA4, #75ADDB);
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.2);
}

#premium-section{
    text-align: center;
    display: table;
    position: relative;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
}

.box-view-gradient{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

#get-premium-button{
    position: relative;
    margin-top: 12px;
    height: 40px;
    width: 160px;
}

footer{
    min-height: 190px;
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.footer-column{
    flex-basis: 230px;
    padding: 38px;
    flex-grow: 1;
}

.button-content{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    padding-left: 5px;
}

.button-icon{
    position: relative;
    top: 2px;
}

.branding-span{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.branding-title{
    font-size: 24px;
    position: relative;
    left: 12px;
}

.subtitle{
    font-weight: bold;
}

.links-list{
    width: 100%;
    display: grid;
    position: relative;
    left: -8px;
}

.link-list-item{
    width: 100%;
}

.menu-item{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 1px;
}

.menu-item-icon{
    font-size: 20px;
    position: relative;
    top: 1px;
}

.menu-item-label{
    position: relative;
    margin-left: 10px;
}

#search-ui{
    position: fixed;
    width: 100%;
    height: 100%;
}

#looks-beautiful{
    padding-right: 56px;
    padding-left: 56px;
    padding-top: 60px;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 76px;
}

.theme-item{
    height: 72px;
    width: 72px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 20%);
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 500%;
    margin: 5px;
}

.theme-item:focus{
    border: 4px solid rgba(32, 32, 32, 96%);
}

#personalization-view-box{
    width: 100%;
    border-radius: 20px;
    background-size: cover;
    height: 880px;
}

#addons-view-box {
    width: 100%;
    border-radius: 18px;
    padding-top: 66px;
    padding-bottom: 44px;
    object-fit: scale-down;
}

#ai-features-box{
    width: 100%;
    border-radius: 16px;
    backdrop-filter: blur(220px);
    text-align: center;
    z-index: 1;
    background-position: center 42px;
    background-size: 56%;
    background-repeat: no-repeat;
}

#ai-features-content{
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 2;
    height: 100%;
    padding: 42px;
    padding-bottom: 100px;
}

#ai-features-text{
    padding-top: 300px;
    text-align: center;
    display: block;
    position: relative;
    max-width: 710px;
    display: inline-block;
}

#ai-features-chips{
    display: table;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    width: 100%;
    border-spacing: 9px;
}

#ai-view-text{
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

#ai-view-title{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 36px;
}

#ai-features-action{
    width: 160px;
    height: 38px;
    transform: scale(1.2);
    position: relative;
    margin-top: 16px;
}

.box-view-gradient{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#addons-search-box{
    height: 52px;
    width: 42%;
    border-radius: 40px;
    position: relative;
    margin: 0 auto;
}

#wallpaper-picker{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
    justify-content: center;
}

.wallpaper-picker-item{
    height: 52px;
    width: 52px;
    border-radius: 9px;
    background-size: cover;
    border: inset;
    border-style: none;
}

.wallpaper-picker-item:focus{
    border: 4px solid #478aff;
}

.news-layout{
    top: 26px;
    width: 100%;
    display: block;
    padding-left: 90px;
    padding-right: 120px;
    padding-top: 160px;
    padding-bottom: 42px;
    position: relative;
    z-index: 11111111111111111;
}

#main-news{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 72px;
    padding-right: 120px;
    z-index: 11111111111;
}

#blog-posts{
    margin-top: 32px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    z-index: 11111111111;
}

#blog-posts-grid{
    flex-wrap: wrap;
    gap: 24px;
}

.news-hero-title{
    font-size: 42px;
}

#news-hero-text{
    padding-right: 120px;
}

.news-hero-button{
    position: relative;
    min-height: 38px;
    min-width: 100px;
    top: 20px;
}

#hero-image{
    position: relative;
    top: 0px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    padding-bottom: 90px;
}

.acrylic-effect{
    backdrop-filter: blur(80px);
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
}

.support-path{
    flex-basis: 160px;
    height: 160px;
    flex-grow: 1;
    text-align: left;
}

#support-paths{
    /*gap: 20px;*/
    column-gap: 12px;
    row-gap: 12px;
    text-align: left;
    padding: 0;
    padding-top: 12px;
}

#view-benefits{
    display: block;
    margin-top: 26px;
    padding-left: 56px;
    padding-right: 56px;
}

.news-card{
    display: flex;
    width: 400px;
    padding: 0;
}

.table{
    width: 100%;
    display: table;
}

#blog-posts{
    padding-left: 116px;
    padding-right: 116px;
    display: block;
}

.card-image{
    width: 100%;
    display: block;
    top: 0px;
    left: 0px;
    height: 230px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
}

.card-layout-content{
    width: 100%;
    position: relative;
    top: 0px;
    padding: 4px 16px 16px 16px;
    display: block;
    align-items: center;
}

.card-action{
    float: right;
    position: relative;
    height: 46px;
    width: 142px;
}

#markdown-container{
    height: auto;
    padding: 42px;
    padding-top: 80px;
}

#subscription-benefits-box{
    padding: 0px;
}

.gradient{
    background: linear-gradient(90deg, rgba(0,112,196,1) 0%, rgba(60,226,89,1) 100%);
}

.table-item{
    display: inline-block;
    margin: 6px;
}

.subscribe-button{
    width: 142px;
    height: 38px;
}

#segmented-ui{
    position: relative;
    top: 60px;
    margin-top: 146px;
    display: inline-grid;
    transform: scale(0.8);
    right: 12px;
    z-index: 111;
}

#progress-view-ui{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(200px);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

#progress-view-context{
    position: relative;
    transform: scale(1.3);
    text-align: center;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pg-ring{
    display: inline-block;
    position: relative;
    right: 1px;
}

.ai-section-card{
    flex-basis: 360px;
}

#personalization-view-box-context{
    width: 100%;
    height: 100%;
    padding: 42px;
    border-radius: 16px;
    backdrop-filter: blur(220px);
    text-align: center;
    z-index: 1;
}

#personalization-box-share-command{
    float: right;
    position: relative;
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding-left: 9px;
}

.box-share-command{
    float: right;
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding-left: 9px;
    top: 20px;
    right: 20px;
}

.box-premium-command{
    float: right;
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding-left: 9px;
    top: 20px;
    left: 20px;
}

#personalization-view-text{
    top: 24px;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    left: -14px;
}

.slider-screen{
    background-size: cover;
    border-radius: 10px;
    height: 352px;
    width: 500px;
}

.slider{
    position: relative;
    top: 90px;
    transform: scale(1.18);
    width: 100%;
    height: 520px;
    overflow: hidden;
    left: 10px;
}

.slider-item{
    position: absolute;
    text-align: justify;
    transition: 0.5s;
    left: calc(50% - 128px);
    top: 0;
}

#slide-prev, #slide-next{
    position: absolute;
    top: 30%;
    color: var(--foreground-color);
    background-color: transparent;
    font-size: 30px;
    left: 180px;
    padding-top: 14px;
}

#slide-next{
    left: unset;
    right: 180px;
}

section{
    margin-top: 44px;
}

#personalization-view-box-background{
    width: 100%;
    height: 92%;
    position: absolute;
    z-index: 0;
    border: none;
    border-style: none;
    object-fit: cover;
    border-radius: 18px;
    padding-right: 124px;
    margin: 2px;
}

#search-box-mic{
    float: left;
    position: relative;
    font-size: 24px;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    margin: auto 0;
    display: inline-flex;
}

#search-box-find{
    float: right;
    position: relative;
    font-size: 24px;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    margin: auto 0;
    display: inline-flex;
}

#search-box-icons{
    justify-content: center;
    display: inline-flex;
    position: relative;
    top: 50%;
    left: 46%;
    margin: auto 0;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    vertical-align: middle;
    object-fit: scale-down;
    gap: 20px;
}

#addons-view-text{
    display: block;
    text-align: center;
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
}

#addons-view-title{
    font-size: 40px;
    position: relative;
    padding-top: 42px;
}

#addons-view-subtitle{
    font-size: 18px !important;
    font-weight: normal;
    max-width: 900px;
    margin: auto 0;
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
}

#addons-view-action{
    width: 110px;
    height: 38px;
    transform: scale(1.2);
    position: relative;
    margin-top: 50px;
}

#addons-view-link{
    margin-top: 100px;
}

.card-label{
    text-transform: none;
    font-size: 18px;
    position: relative;
    justify-self: center;
    margin: auto auto;
    padding: 24px;
}

.centerized-label{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: auto auto;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

#private-browsing{
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    top: 76px;
}

#privacy-view-box{
    border-radius: 18px;
    padding: 26px;
    display: table;
    text-align: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 90px;
}

.box-card-title{
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
}

.box-card-subtitle{
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
}

@media screen and (max-width: 1200px){
    #features, #looks-beautiful, #addons-section, #ai-features{
      top: 120px !important;
    }

    #private-browsing{
        top: 142px;
    }

    #segmented-ui{
        transform: scale(0.8);
        right: 6px !important;
    }

    #premium-section{
        margin-top: 100px;
    }

    footer{
        margin-top: 80px;
    }
}

@media screen and (max-width: 920px) {
    #addons-search-box{
        width: 420px;
    }
}

@media screen and (max-width: 620px) {
    #addons-search-box{
        width: 320px;
        transform: scale(0.8);
        right: 10px;
    }

    #addons-view-box{
        padding-top: 42px;
        padding-bottom: 42px;
    }

    #search-box-icons{
        transform: scale(0.8) translateX(-69%) translateY(-62%);
    }

    #addons-view-text{
        transform: scale(0.9);
    }
}

@media screen and (max-width: 400px){
    section, #features{
      top: 180px !important;
    }

    #segmented-ui{
        top: 160px;
        transform: scale(0.7);
        right: 20px !important;
    }

    #hero-container-text{
        transform: scale(0.9);
        top: 150px !important;
    }

    .app-screenshot{
        top: 200px;
    }

    #addons-search-box{
        width: 200px;
    }

    #addons-view-text{
        transform: scale(0.8);
    }
}