body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'SegoeVariable', sans-serif;
}

@font-face 
{ 
    font-family: 'FluentIcons-Filled'; 
    src: url('../fonts/FluentSystemIcons-Filled.ttf') format('truetype'); 
}

@font-face 
{ 
    font-family: 'FluentIcons-Regular'; 
    src: url('../fonts/FluentSystemIcons-Regular.ttf') format('truetype'); 
}

@font-face
{ 
    font-family: 'SegoeVariable'; 
    src: url('../fonts/main-font.ttf') format('truetype'); 
}

@media(prefers-color-scheme: light){
    body{
        background-color: rgb(240, 240, 240);
        color: rgb(32, 32, 32);
    }

    body{
        background-color: rgb(240, 240, 240);
        color: rgb(32, 32, 32);
    }

    .placeholder{
        color: rgb(42, 42, 42);
    }

    .vertical-sep{
        height: 26px;
        border-right: 1px rgb(42, 42, 42);
    }

    .fluent-hyperlink:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }

    .fluent-hyperlink:active{
        background-color: #00000006;
    }

    .fluent-hyperlink{
        color: #5f5f5f;
    }

    .fluent-hyperlink-selected{
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        background: transparent;
        border: none;
        color: #005FB8;
        background-color: #00000006;
    }

    .icon-button{
        color: #5f5f5f;
    }

    .icon-button:hover{
        background-color: #FFFFFFB2;
        border: 0.8px solid rgba(0, 0, 0, 0.05);
    }

    .icon-button:active{
        background-color: #F9F9F980;
        border: 0.8px solid rgba(0, 0, 0, 0.07);
    }

    #hero-container-content{
        background-color: rgba(255, 255, 255, 32%);
        backdrop-filter: blur(110px);
    }

    h1{
        color: rgb(46, 46, 46);
    }

    .fluent-badge{
        background-color: rgba(246, 246, 246, 0.8);
        color: rgb(45, 45, 45);
    }

    #hero-description{
        color: rgb(50, 50, 50);
    }

    #app-screenshot{
        background-image: url(../assets/app-main-view-light.png);
    }

    header{
        background-color: rgba(255, 255, 255, 42%);
    }

    .fluent-card{
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, 0.06);
}

@media(prefers-color-scheme: dark){
    body{
        background-color: rgb(28, 28, 28);
        color: rgb(240, 240, 240);
    }

    .placeholder{
        color: rgb(160, 160, 160)
    }

    #app-screenshot{
        background-image: url(../assets/app-main-view-dark.png);
    }

    .vertical-sep{
        height: 26px;
        border-right: 1px;
        border-color: rgb(130, 130, 130);
    }

    header{
        background-color: rgba(25, 25, 25, 76%);
        backdrop-filter: blur(56px);
    }

    .fluent-hyperlink:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }

    .fluent-hyperlink:active{
        background-color: #FFFFFF0B;
    }

    .fluent-hyperlink{
        color: #d2d2d2;
    }

    .fluent-hyperlink-selected{
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        background: transparent;
        border: none;
        color: #60CDFF;
        background-color: #FFFFFF0B;
    }

    .icon-button{
        color: #d2d2d2;
    }

    .icon-button:hover{
        background-color: #FFFFFF0F;
        border: 0.8px solid rgba(255, 255, 255, 0.06);
    }

    .icon-button:active{
        background-color: #FFFFFF08;
        border: 0.8px solid rgba(255, 255, 255, 0.08);
    }

    #hero-container-content{
        background-color: rgba(0, 0, 0, 16%);
        backdrop-filter: blur(90px);
    }

    h1{
        color: rgb(240, 240, 240);
    }

    .fluent-badge{
        background-color: rgba(56, 56, 56, 0.9);
        color: rgb(226, 226, 226);
    }

    #hero-description{
        color: rgb(180, 180, 180);
    }

    .fluent-card{
        background-color: rgba(40, 40, 40, 1);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}

header{
    position: fixed;
    height: 74px;
    width: 100%;
    z-index: 1111111111;
    backdrop-filter: blur(56px);
}

h2{
    font-size: 32px;
}

#branding-div{
    position: absolute;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
    left: 20px;
    position: fixed;
    margin-top: 2px;
    background: transparent;
}

#branding-title{
    margin-left: 12px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 22px;
}

#navigation-menu{
    position: fixed;
    top: 20px;
    left: 156px;
    display: inline-flex;
}

.fluent-hyperlink{
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    background: transparent;
    border: none;
}

.text-label{
    line-height: 5px;
    position: relative;
    padding-left: 6px;
}

.self-icon{
    font-size: 20px;
    position: relative;
    display: inherit;
}

#frame{
    position: fixed;
    width: 100%;
    height: 100%;
    border: none;
}

#get-product-command{
    height: 36px;
    position: relative;
    float: right;
    top: 20px;
    right: 19px;
}

.icon-button{
    border-radius: 4px;
    background: transparent;
    border: 0.8px solid transparent;
    padding: 5px 7px 5px 7px;
    display: inline-flex;
    align-items: center;
}

#feedback-command{
    position: fixed;
    top: 20px;
    right: 126px;
    height: 36px;
    width: 36px;
}

#support-ukraine{
    position: fixed;
    top: 20px;
    right: 168px;
    height: 36px;
    width: 36px;
}

#ua-flag{
    border-radius: 3px;
}

#hero-container{
    width: 100%;
    padding-bottom: 200px;
}

#hero-container-content{
    display: flex;
    width: 100%;
    text-align: center;
}

#hero-container-text{
    width: 100%;
    text-align: center;
    margin-top: 180px;
}

.highlighted-text{
    color: linear-gradient(90deg, rgba(0,112,196,1), rgba(60,226,89,1));
}

.label{
    padding: 4px;
}

.fluent-badge{
    border-radius: 48px;
    padding: 4px;
    font-size: 12px;
}

#hero-description{
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1000px;
    display: inline-block;
    font-weight: medium;
    position: relative;
    font-size: 15px;
    top: 8px;
}

#hero-actions{
    display: table;
    position: relative;
    top: 18px;
    width: 100%;
    text-align: center;
}

#hero-get-product{
    height: 40px;
}

#app-screenshot{
    position: relative;
    top: 120px;
    width: 100%;
    height: 680px;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

#mobile-menu-button{
    position: fixed;
    top: 18px;
    left: 12px;
    height: 38px;
    width: 38px;
    z-index: 111111111111;
    visibility: collapse;
}

#features{
    padding-left: 56px;
    padding-right: 56px;
    margin-top: 12px;
}

#features-box{
    top: 26px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.fluent-card{
    display: inline-block;
    flex-grow: 1;
    flex-basis: 330px;
    border-radius: 9px;
    padding: 24px;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.11);
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.11);
}

.fluent-card:hover{
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.5);
}

.card-icon{
    font-size: 52px;
    background: -webkit-linear-gradient(#0676c1, #01e496);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table-grid{
    display: inline-flex;
    text-align: left;
    column-gap: 8px;
    width: 100%;
}

.fluent-badge-accent{
    border-radius: 48px;
    padding: 4px;
    font-size: 12px;
    background-color: #4fc0fc;
    color: rgb(32, 32, 32);
}