body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'SegoeVariable', sans-serif;
}

@font-face 
{ 
    font-family: 'FluentIcons-Filled'; 
    src: url('../fonts/FluentSystemIcons-Filled.ttf') format('truetype'); 
}

@font-face 
{ 
    font-family: 'FluentIcons-Regular'; 
    src: url('../fonts/FluentSystemIcons-Regular.ttf') format('truetype'); 
}

@font-face
{ 
    font-family: 'SegoeVariable'; 
    src: url('../fonts/main-font.ttf') format('truetype'); 
}

@media(prefers-color-scheme: light){
    body{
        background-color: rgb(240, 240, 240);
        color: rgb(32, 32, 32);
    }

    body{
        background-color: rgb(240, 240, 240);
        color: rgb(32, 32, 32);
    }
    
    fluent-divider{
        border-top: calc(var(--stroke-width) * 1px) solid rgba(0, 0, 0, 6%);
    }

    .placeholder{
        color: rgb(42, 42, 42);
    }

    .subtitle{
        color: hsla(0, 0%, 0%, 60.63%);
    }

    .vertical-sep{
        height: 26px;
        border-right: 1px rgb(42, 42, 42);
    }

    .fluent-hyperlink:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }

    .fluent-hyperlink:active{
        background-color: #00000006;
    }

    .fluent-hyperlink{
        color: #5f5f5f;
    }

    .fluent-hyperlink-selected{
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        background: transparent;
        border: none;
        color: #005FB8;
        background-color: #00000006;
    }

    .fluent-hyperlink-control{
        color: #084daf;
    }

    .icon-button{
        color: #5f5f5f;
    }

    .icon-button:hover{
        background-color: #FFFFFFB2;
        border: 0.8px solid rgba(0, 0, 0, 0.05);
    }

    .icon-button:active{
        background-color: #F9F9F980;
        border: 0.8px solid rgba(0, 0, 0, 0.07);
    }

    #hero-container-content{
        background-color: rgba(255, 255, 255, 32%);
        backdrop-filter: blur(110px);
    }

    h1{
        color: rgb(46, 46, 46);
    }

    .fluent-badge{
        background-color: rgba(246, 246, 246, 0.8);
        color: rgb(45, 45, 45);
    }

    #hero-description{
        color: rgb(50, 50, 50);
    }

    #app-screenshot{
        background-image: url(../assets/app-main-view-light.png);
    }

    header{
        background-color: rgba(255, 255, 255, 42%);
    }

    .fluent-card{
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, 0.06);
    }

    #addons-image-view{
        background-image: url('../assets/extensions-icons.png');
    }

    #mobile-menu-sidebar{
        background-color: rgba(255, 255, 255, 0.6);
    }

    .section-separator{
        border: 0.2px solid rgba(220, 220, 220, 26%);
    }

    fluent-option{
        color: rgb(30, 30, 30);
    }

    .app-logo{
        background-color: rgb(250, 250, 250);
        border: 0.6px solid rgba(30, 30, 30, 20%);
    }

    footer{
        border: 0.1px solid rgba(42, 42, 42, 12%);
        background-color: rgb(230, 230, 230);
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}

@media(prefers-color-scheme: dark){
    body{
        background-color: rgb(28, 28, 28);
        color: rgb(240, 240, 240);
    }

    fluent-divider{
        border-top: calc(var(--stroke-width) * 1px) solid rgba(255, 255, 255, 6%);
    }

    .placeholder{
        color: rgb(190, 190, 190);
    }

    .subtitle{
        color: #909898;
    }

    #app-screenshot{
        background-image: url(../assets/app-main-view-dark.png);
    }

    .vertical-sep{
        height: 26px;
        border-right: 1px;
        border-color: rgb(130, 130, 130);
    }

    header{
        background-color: rgba(25, 25, 25, 76%);
        backdrop-filter: blur(56px);
    }

    .fluent-hyperlink:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }

    .fluent-hyperlink:active{
        background-color: #FFFFFF0B;
    }

    .fluent-hyperlink{
        color: #d2d2d2;
    }

    .fluent-hyperlink-selected{
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        background: transparent;
        border: none;
        color: #60CDFF;
        background-color: #FFFFFF0B;
    }

    .fluent-hyperlink-control{
        color: #99EBFF;
    }

    .icon-button{
        color: #d2d2d2;
    }

    .icon-button:hover{
        background-color: #FFFFFF0F;
        border: 0.8px solid rgba(255, 255, 255, 0.06);
    }

    .icon-button:active{
        background-color: #FFFFFF08;
        border: 0.8px solid rgba(255, 255, 255, 0.08);
    }

    #hero-container-content{
        background-color: rgba(0, 0, 0, 16%);
        backdrop-filter: blur(90px);
    }

    h1{
        color: rgb(240, 240, 240);
    }

    .fluent-badge{
        background-color: rgba(56, 56, 56, 0.9);
        color: rgb(226, 226, 226);
    }

    #hero-description{
        color: rgb(180, 180, 180);
    }

    .fluent-card{
        background-color: rgba(40, 40, 40, 1);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    #addons-image-view{
        background-image: url('../assets/extensions-icons-dark.png');
    }

    .section-separator{
        border: 0.2px solid rgba(100, 100, 100, 26%);
    }

    #mobile-menu-sidebar{
        background-color: rgba(30, 30, 30, 0.6);
        border: 0.6px solid rgba(255, 255, 255, 0.1);
    }

    fluent-option{
        color: rgb(240, 240, 240);
    }

    .app-logo{
        background-color: rgb(42, 42, 42);
        border: 0.6px solid rgba(255, 255, 255, 12%);
    }

    footer{
        border: 0.1px solid rgba(250, 250, 250, 5%);
        border-left: none;
        border-right: none;
        border-bottom: none;
        background-color: rgb(32, 32, 32);
    }
}

header{
    position: fixed;
    height: 74px;
    width: 100%;
    z-index: 1111111111;
    backdrop-filter: blur(56px);
}

h2{
    font-size: 32px;
}

#branding-div{
    position: absolute;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
    left: 20px;
    position: fixed;
    margin-top: 2px;
    background: transparent;
}

#branding-title{
    margin-left: 12px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 22px;
}

#navigation-menu{
    position: fixed;
    top: 20px;
    left: 156px;
    display: inline-flex;
}

.fluent-hyperlink{
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    background: transparent;
    border: none;
}

.text-label{
    line-height: 5px;
    position: relative;
    padding-left: 6px;
}

.self-icon{
    font-size: 20px;
    position: relative;
    display: inherit;
}

#frame{
    position: fixed;
    width: 100%;
    height: 100%;
    border: none;
}

#get-product-command{
    height: 36px;
    position: relative;
    float: right;
    top: 20px;
    right: 19px;
}

.icon-button{
    border-radius: 4px;
    background: transparent;
    border: 0.8px solid transparent;
    padding: 5px 7px 5px 7px;
    display: inline-flex;
    align-items: center;
}

#feedback-command{
    position: fixed;
    top: 20px;
    right: 126px;
    height: 36px;
    width: 36px;
}

#support-ukraine{
    position: fixed;
    top: 20px;
    right: 168px;
    height: 36px;
    width: 36px;
}

#ua-flag{
    border-radius: 3px;
}

#hero-container{
    width: 100%;
    padding-bottom: 200px;
}

#hero-container-content{
    display: flex;
    width: 100%;
    text-align: center;
}

#hero-container-text{
    width: 100%;
    text-align: center;
    margin-top: 180px;
}

.highlighted-text{
    color: linear-gradient(90deg, rgba(0,112,196,1), rgba(60,226,89,1));
}

.label{
    padding: 6px;
    font-weight: 600;
}

.fluent-badge{
    border-radius: 48px;
    padding: 4px;
    font-size: 12px;
}

#hero-description{
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1000px;
    display: inline-block;
    font-weight: medium;
    position: relative;
    font-size: 15px;
    top: 8px;
}

#hero-actions{
    display: table;
    position: relative;
    top: 18px;
    width: 100%;
    text-align: center;
}

#hero-get-product{
    height: 40px;
}

#app-screenshot{
    position: relative;
    top: 120px;
    width: 100%;
    height: 680px;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

#mobile-menu-button{
    position: fixed;
    top: 18px;
    left: 12px;
    height: 38px;
    width: 38px;
    z-index: 111111111111;
    visibility: collapse;
}

#features{
    padding-left: 56px;
    padding-right: 56px;
    margin-top: 12px;
}

#features-box{
    top: 26px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.fluent-card{
    display: inline-block;
    flex-grow: 1;
    flex-basis: 330px;
    border-radius: 9px;
    padding: 24px;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.11);
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.11);
}

.fluent-card:hover{
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.5);
}

.card-icon{
    font-size: 52px;
    background: -webkit-linear-gradient(#0676c1, #01e496);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table-grid{
    display: inline-flex;
    text-align: left;
    column-gap: 8px;
    width: 100%;
}

.fluent-badge-accent{
    border-radius: 48px;
    padding: 6px;
    font-weight: 600;
    font-size: 12px;
    background-color: #4fc0fc;
    color: rgb(32, 32, 32);
}

em{
    font-style: normal;
    background: -webkit-linear-gradient(60deg,#0070c4, #3ce259);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-section{
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    flex-wrap: wrap;
}

#addons-section{
    padding-top: 30px;
}

.section-column{
    flex-grow: 1;
    flex-basis: 420px;
    min-height: 320px;
}

.section-title{
    font-size: 32px;
    position: relative;
    top: 10px;
}

.section-description{
    position: relative;
}

.section-button{
    position: relative;
    top: 10px;
}

#addons-image-view{
    height: 90%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    bottom: 8px;
    left: 56px;
}

.center-div{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

#indev-ui{
    max-width: 520px;
}

.section-separator{
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 4px;
}

#mobile-menu-sidebar{
    position: fixed;
    left: 0px;
    height: 100%;
    width: 342px;
    margin-top: 73px;
    top: 0px;
    z-index: 111111111111;
    border-radius: 0px 8px 8px 0px;
    backdrop-filter: blur(42px);
}

#sidebar-shell-backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    visibility: collapse;
}

#menu-backdrop{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
}

#mobile-search-bar{
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 20px;
    top: 0px;
}

#mobile-sidebar-menu{
    margin-left: 20px;
    margin-right: 22px;
    display: block;
    position: relative;
    top: -10px;
}

#menu-items{
    width: 100%;
    border: none;
}

fluent-option{
    height: 42px;
    background: transparent;
}

#menu-items:focus{
    border: none;
}

#menu-items:active{
    border: none;
}

#menu-items:hover{
    border: none;
}

.field-icon{
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    z-index: 1111111111;
}

.centerized-section{
    text-align: center;
    display: block;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#ai-features{
    padding-left: 60px;
    padding-right: 60px;
}

#ai-features-description{
    position: relative;
}

#what-can-ai{
    display: flex;
    flex-grow: 1;
    flex-basis: 130px;
    flex-wrap: wrap;
    gap: 16px;
    position: relative;
    top: 12px;
}

#ai-integrated{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.flat-card{
    background: transparent;
    border: none;
    box-shadow: none;
}

.flat-card:hover{
    background: transparent;
    border: none;
    box-shadow: none;
}

.app-logo{
    border-radius: 12px;
    padding: 20px;
    min-height: 40px;
    min-width: 40px;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    position: relative;
    align-items: center;
    background-repeat: no-repeat;
}

#ai-integrated{
    position: relative;
    margin-top: 12px;
}

.fluent-hyperlink-control{
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.fluent-hyperlink-control:hover{
    background-color: rgba(230, 230, 230, 0.1);
}

.fluent-hyperlink-control:active{
    background-color: rgba(230, 230, 230, 0.3);
}

.premium-card{
    padding: 32px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 16px;
    display: inline-block;
    max-width: 720px;
    margin-left: 32px;
    margin-right: 32px;
    color: rgb(42, 42, 42);
    background: linear-gradient(210deg, #ABFFA4, #75ADDB);
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.2);
}

#premium-section{
    text-align: center;
    display: table;
    position: relative;
    width: 100%;
}

#get-premium-button{
    position: relative;
    margin-top: 12px;
    height: 40px;
    width: 160px;
}

footer{
    min-height: 190px;
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.footer-column{
    flex-basis: 230px;
    padding: 38px;
    flex-grow: 1;
}

.button-content{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    padding-left: 5px;
}

.button-icon{
    position: relative;
    top: 2px;
}

.branding-span{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.branding-title{
    font-size: 24px;
    position: relative;
    left: 12px;
}

.subtitle{
    font-weight: bold;
}

.links-list{
    width: 100%;
    display: grid;
    position: relative;
    left: -8px;
}

.link-list-item{
    width: 100%;
}

.menu-item{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 1px;
}

.menu-item-icon{
    font-size: 20px;
    position: relative;
    top: 1px;
}

.menu-item-label{
    position: relative;
    margin-left: 10px;
}

#search-ui{
    position: fixed;
    width: 100%;
    height: 100%;
}

#looks-beautiful{
    padding-right: 56px;
    padding-left: 56px;
    padding-top: 60px;
    padding-bottom: 42px;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 76px;
}

#theme-picker{
    display: table;
    position: relative;
    top: 18px;
    left: -7px;
}

.theme-item{
    height: 72px;
    width: 72px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 20%);
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 500%;
    margin: 5px;
}

.theme-item:focus{
    border: 4px solid rgba(32, 32, 32, 96%);
}

#theme-view-box{
    bottom: 42px;
    margin: 12px;
    height: 400px;
    position: relative;
    padding-bottom: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 12px;
    background-image: url('../assets/search-design-card0.png');
}