<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Aurora - unlock premium features</title>

        <!-- Fluent UI for web  -->
        <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>

        <!-- Main styles -->
        <link rel="stylesheet" href="../styles/style.css" />
        <link rel="stylesheet" href="../styles/animation.css" />
        <link rel="stylesheet" href="../fonts/FluentSystemIcons-Regular.css" />

        <!-- JS -->
        <script type="module" src="../index.js"></script>
        <script src="../main.js"></script>
    </head>
    <body id="rootContainer">
        <fluent-design-system-provider id="fluent-design-provider">
            <div id="rootLayout">
                <section id="premium-section" style="animation: premium-card-transition 1.2s ease-in-out;">
                    <div class="premium-card" style="width: 100%; padding: 0; padding-top: 132px; padding-bottom: 65px; max-width: none;">
                        <img alt="premium-icon" height="60px" width="60px" src="../assets/icons8-jewel-96.png" /><br />
                        <br />
                        <span class="fluent-badge" style="top: 10px; position: relative;">
                            <a class="label">Personal assistant</a>
                        </span>
                        <h2 style="margin-left: 32px; margin-right: 32px;">Achieve more, because <em>you can!</em></h2>
                        <p style="margin-left: 32px; margin-right: 32px;">
                            Become a premium user and forget about ads that prevent you from enjoying your AI assistant. Discover all the assistant's capabilities that will help you in any task and situation. Work with artificial intelligence without restrictions and receive unique content created especially for you.
                        </p>
                        <fluent-button id="get-premium-button" appearance="accent" onclick="window.open('aurora-search:premium');">
                            <p>4.99$ per 6 months</p>
                        </fluent-button>
                    </div>
                    <br />
                        <div class="flex-section" style="margin-top: 32px; gap: 16px;">
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none; padding: 14px 22px 14px 22px;">
                                <i class="card-icon icon icon-ic_fluent_stack_star_20_regular" style="font-size: 62px; position: relative; top: 6px;"></i>
                                <h3>Forget about ads</h3>
                                <p>
                                    Enjoy a full-fledged application without annoying ads that distract you from important matters and pleasures. Immerse yourself in the world of an AI-powered assistant that offers you many features and capabilities. Discover new horizons with artificial intelligence that works only for you.
                                </p>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="card-icon icon icon-ic_fluent_text_grammar_wand_16_regular" style="font-size: 62px;"></i>
                                <h3>Unlock full power of AI</h3>
                                <p>
                                    Access the full potential of artificial intelligence. Use all the features of an AI assistant that can help you in any area of your life. Create unique content, communicate in different languages, find the information you need, and much more. Discover a new level of possibilities with the AI-powered assistant.
                                </p>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="card-icon icon icon-ic_fluent_apps_16_regular" style="font-size: 62px;"></i>
                                <h3>More premium features</h3>
                                <p>
                                    Become a premium member and gain access to exclusive features such as extensions, content generation and priority for new features.
                                </p>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="card-icon icon icon-ic_fluent_layer_diagonal_person_20_regular" style="font-size: 62px;"></i>
                                <h3>Support developers</h3>
                                <p>
                                    By purchasing Premium, you not only get access to exclusive assistant features, but also support the developer who puts his time, energy and creativity into creating this product. You help him pay for server maintenance costs, tool licenses, and other necessary resources. You also motivate him to continue to develop and improve the assistant, add new features and fix bugs. You can also give him your feedback and wishes to make the assistant even more useful and enjoyable for you.
                                </p>
                            </div>
                        </div>
                </section>
                <br />
                <footer>
                    <div class="footer-column">

                    </div>
                    <div class="footer-column">

                    </div>
                    <div class="footer-column">

                    </div>
                </footer>
            </div>
        </fluent-design-system-provider>
    </body>
</html>