<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Aurora - unlock premium features</title>

        <!-- Fluent UI for web  -->
        <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>

        <!-- Main styles -->
        <link rel="stylesheet" href="../styles/style.css" />
        <link rel="stylesheet" href="../styles/animation.css" />
        <link rel="stylesheet" href="../fonts/FluentSystemIcons-Regular.css" />

        <!-- JS -->
        <script type="module" src="../index.js"></script>
        <script src="../main.js"></script>
    </head>
    <body id="rootContainer">
        <fluent-design-system-provider id="fluent-design-provider">
            <div id="rootLayout">
                <section id="premium-section" style="animation: premium-card-transition 1.2s ease-in-out;">
                    <div class="premium-card" style="width: 100%; padding: 0; padding-top: 132px; padding-bottom: 65px; max-width: none; margin-left: 0; margin-right: 0;">
                        <img alt="premium-icon" height="60px" width="60px" src="../assets/icons8-jewel-96.png" /><br />
                        <br />
                        <span class="fluent-badge" style="top: 10px; position: relative;">
                            <a class="label">Premium for you</a>
                        </span>
                        <h2 style="margin-left: 32px; margin-right: 32px;">Achieve more, because <em>you can!</em></h2>
                        <p style="margin-left: 32px; margin-right: 32px;">
                            Become a premium user and forget about ads that prevent you from enjoying your AI assistant. Discover all the assistant's capabilities that will help you in any task and situation. Work with artificial intelligence without restrictions and receive unique content created especially for you.
                        </p>
                        <fluent-tooltip id="tooltip" anchor="get-premium-button">
                            When you subscribe, you're not just unlocking premium features; you're actively supporting the continuous improvement and development of our services.
                        </fluent-tooltip>
                        <fluent-button id="get-premium-button" aria-describedby="tooltip" appearance="accent" onclick="document.location.href = 'premium.html#view-benefits';">
                            <p>Review benefits</p>
                        </fluent-button>
                    </div>
                    <br />
                        <div class="flex-section" style="margin-top: 32px; gap: 16px;">
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none; padding: 14px 22px 14px 22px;">
                                <i class="card-icon icon icon-ic_fluent_stack_star_20_regular" style="font-size: 62px; position: relative; top: 6px;"></i>
                                <h3>Forget about ads</h3>
                                <p>
                                    Enjoy a full-fledged application without annoying ads that distract you from important matters and pleasures. Immerse yourself in the world of an AI-powered assistant that offers you many features and capabilities. Discover new horizons with artificial intelligence that works only for you.
                                </p>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="card-icon icon icon-ic_fluent_text_grammar_wand_16_regular" style="font-size: 62px;"></i>
                                <h3>Unlock full power of AI</h3>
                                <p>
                                    Access the full potential of artificial intelligence. Use all the features of an AI assistant that can help you in any area of your life. Create unique content, communicate in different languages, find the information you need, and much more. Discover a new level of possibilities with the AI-powered assistant.
                                </p>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="card-icon icon icon-ic_fluent_apps_16_regular" style="font-size: 62px;"></i>
                                <h3>More premium features</h3>
                                <p>
                                    Become a premium member and gain access to exclusive features such as extensions, content generation and priority for new features.
                                </p>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="card-icon icon icon-ic_fluent_layer_diagonal_person_20_regular" style="font-size: 62px;"></i>
                                <h3>Support developers</h3>
                                <p>
                                    By purchasing Premium, you not only get access to exclusive assistant features, but also support the developer who puts his time, energy and creativity into creating this product. You help him pay for server maintenance costs, tool licenses, and other necessary resources. You also motivate him to continue to develop and improve the assistant, add new features and fix bugs. You can also give him your feedback and wishes to make the assistant even more useful and enjoyable for you.
                                </p>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="icon card-icon icon-ic_fluent_bookmark_multiple_16_regular" style="font-size: 62px;"></i>
                                <h3>Don't miss important things</h3>
                                <p>
                                    Your digital treasure chest for the things that truly matter. Pin search results, AI assistant answers, and everything you find valuable. Don't miss out on a single piece of essential information.
                                </p>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="icon card-icon icon-ic_fluent_wallpaper_24_regular" style="font-size: 62px;"></i>
                                <h3>Live Wallpapers</h3>
                                <p>
                                    Elevate your device's home screen with captivating live wallpapers. Watch as your background comes alive with dynamic animations and ever-changing scenes.
                                </p>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="icon card-icon icon-ic_fluent_eye_tracking_16_regular" style="font-size: 62px;"></i>
                                <h3>AI vision features</h3>
                                <p>
                                    Our AI Vision features redefine the way you interact with the visual world. Whether you're a traveler, a photography enthusiast, or someone looking to enhance daily life, AI Vision adds a layer of intelligence and insight that enriches your experiences.
                                </p>
                                <span class="fluent-badge-accent" style="bottom: 2px; position: relative;">
                                    <a class="label">Coming soon</a>
                                </span>
                            </div>
                            <div class="fluent-card" style="flex-basis: 330px; text-align: left; max-width: none;">
                                <i class="icon card-icon icon-ic_fluent_developer_board_search_24_regular" style="font-size: 62px;"></i>
                                <h3>Development and coding</h3>
                                <p>
                                    With AI, development becomes faster, more efficient, and less error-prone. Our AI-powered services integrate seamlessly with industry-standard tools like GitHub and Stack Overflow, ensuring that you have everything you need to succeed as a developer. Join the revolution in development. Embrace AI for issue resolution, coding efficiency, and project management. Welcome to the future of coding.
                                </p>
                                <span class="fluent-badge-accent" style="bottom: 2px; position: relative;">
                                    <a class="label">Coming soon</a>
                                </span>
                            </div>
                        </div>
                </section>
                <br />
                <section id="view-benefits">
                    <div>
                        <h2>Review benefits</h2>
                        <p class="placeholder">
                            Welcome to the subscription program, where you'll enjoy a world of exclusive perks and advantages. We believe in making your experience with us not just good, but exceptional. Here's what you can look forward to as a benefit:
                        </p><br />
                        <br />
                        <div id="subscription-benefits-box" class="flex-section" style="gap: 24px;">
                            <div class="fluent-card">
                                <h1 class="card-title">Every year</h1>
                                <p class="placeholder card-subtitle">for 3.99$</p>
                                <p style="position: relative; bottom: 14px;">Enjoy premium privileges all year round for an uninterrupted premium experience.</p>
                                <div class="table" style="width: 100%; position: relative; left: -6px; bottom: 18px;">
                                    <div class="table-item">
                                        <span class="fluent-badge gradient" style="
                                            display: flex;
                                            align-items: center;
                                            padding-right: 14px;
                                            padding-left: 14px;
                                            ">
                                            <i class="icon icon-ic_fluent_checkmark_24_regular" style="font-size: 18px"></i>
                                            <p style="line-height: 0px; font-weight: 600; padding-left: 6px; padding-bottom: 1px;">Unlimited access to premium features</p>
                                        </span>
                                    </div>
                                    <div class="table-item">
                                        <span class="fluent-badge gradient" class="fluent-badge gradient" style="
                                            display: flex;
                                            align-items: center;
                                            padding-right: 14px;
                                            padding-left: 14px;
                                            top: 2px;
                                            position: relative;
                                            ">
                                            <i class="icon icon-ic_fluent_payment_20_regular" style="font-size: 20px; line-height: 0px;"></i>
                                            <p style="line-height: 0px; font-weight: 600; padding-left: 6px; padding-bottom: 1px;">Best benefit</p>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <fluent-button class="subscribe-button" appearance="accent" onclick="GetPremiumSubscription();">Subscribe in app</fluent-button>
                            </div>
                            <div class="fluent-card">
                                <h1 class="card-title">Half a year</h1>
                                <p class="placeholder card-subtitle">for 2.99$</p>
                                <p style="position: relative; bottom: 14px;">Indulge in premium perks every six months for a lasting premium experience.</p>
                                <div class="table" style="width: 100%; position: relative; left: -6px; bottom: 18px;">
                                    <div class="table-item">
                                        <span class="fluent-badge gradient" style="
                                            display: flex;
                                            align-items: center;
                                            padding-right: 14px;
                                            padding-left: 14px;
                                            ">
                                            <i class="icon icon-ic_fluent_checkmark_24_regular" style="font-size: 18px"></i>
                                            <p style="line-height: 0px; font-weight: 600; padding-left: 6px; padding-bottom: 1px;">Unlimited access to premium features</p>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <fluent-button class="subscribe-button" appearance="accent" onclick="GetPremiumSubscription();">Subscribe in app</fluent-button>
                            </div>
                            <div class="fluent-card">
                                <h1 class="card-title">3 months</h1>
                                <p class="placeholder card-subtitle">for 1.99$</p>
                                <p style="position: relative; bottom: 14px;">Unlock premium perks every three months for those looking to experience the best.</p>
                                <div class="table" style="width: 100%; position: relative; left: -6px; bottom: 18px;">
                                    <div class="table-item">
                                        <span class="fluent-badge gradient" style="
                                            display: flex;
                                            align-items: center;
                                            padding-right: 14px;
                                            padding-left: 14px;
                                            ">
                                            <i class="icon icon-ic_fluent_checkmark_24_regular" style="font-size: 18px"></i>
                                            <p style="line-height: 0px; font-weight: 600; padding-left: 6px; padding-bottom: 1px;">Unlimited access to premium features</p>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <fluent-button class="subscribe-button" appearance="accent" onclick="GetPremiumSubscription();">Subscribe in app</fluent-button>
                            </div>
                            <div class="fluent-card">
                                <h1 class="card-title">Monthly</h1>
                                <p class="placeholder card-subtitle">for 0.99$</p>
                                <p style="position: relative; bottom: 14px;">Experience premium perks month by month for on-demand excellence. The best choice for those who want to try.</p>
                                <div class="table" style="width: 100%; position: relative; left: -6px; bottom: 18px;">
                                    <div class="table-item">
                                        <span class="fluent-badge gradient" style="
                                            display: flex;
                                            align-items: center;
                                            padding-right: 14px;
                                            padding-left: 14px;
                                            ">
                                            <i class="icon icon-ic_fluent_checkmark_24_regular" style="font-size: 18px"></i>
                                            <p style="line-height: 0px; font-weight: 600; padding-left: 6px; padding-bottom: 1px;">Unlimited access to premium features</p>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <fluent-button class="subscribe-button" appearance="accent" onclick="GetPremiumSubscription();">Subscribe in app</fluent-button>
                            </div>
                        </div>
                    </div>
                </section>
                <footer>
                    <div class="footer-column">
                        <span class="branding-span">
                            <img class="branding-logo" alt="logo" height="41px" width="42px" src="../assets/Search.png" />
                            <a class="branding-title">Aurora</a>
                        </span>
                        <div class="table-grid" style="position: relative; top: 18px; left: -4px;">
                            <button class="icon-button" style="display: inline-block; position: relative;">
                                <img height="20px" width="20px" alt="GitHub" src="https://img.icons8.com/fluency/48/github.png" />
                            </button>
                            <button class="icon-button" style="display: inline-block; position: relative;">
                                <img height="24px" width="24px" alt="Twitter" src="https://img.icons8.com/fluency/48/twitterx--v1.png" />
                            </button>
                        </div>
                        <br />
                        <a class="placeholder subtitle" style="position: relative; top: 32px;">Copyright © 2023</a>
                    </div>
                    <div class="footer-column">
                        <p class="placeholder subtitle">Pages</p>
                        <div class="links-list">
                            <span class="link-list-item">
                                <a href="#hero-container" class="fluent-hyperlink-control">Home</a>
                            </span>
                            <span class="link-list-item">
                                <a href="news.html" class="fluent-hyperlink-control">News</a>
                            </span>
                            <span class="link-list-item">
                                <a href="views/premium.html" class="fluent-hyperlink-control">Premium</a>
                            </span>
                            <span class="link-list-item">
                                <a href="https://www.microsoft.com/store/apps/9MXZLDLCTFWL" class="fluent-hyperlink-control">Get Aurora</a>
                            </span>
                        </div>
                    </div>
                    <div class="footer-column">
                        <p class="placeholder subtitle">Docs</p>
                        <div class="links-list">
                            <span class="link-list-item">
                                <a href="privacy/index.html" class="fluent-hyperlink-control">Privacy Policy</a>
                            </span>
                            <span class="link-list-item">
                                <a href="mailto:dima.borodiy@outlook.com" class="fluent-hyperlink-control">Contact developer</a>
                            </span>
                        </div>
                    </div>
                </footer>
            </div>
        </fluent-design-system-provider>
    </body>
</html>